/* ------------- modal -------------------- */
.ant-modal-content {
  padding: 0 !important;
  background: transparent !important;
}
.ant-modal-footer {
  margin-top: 0 !important;
}

.ant-collapse-content-box {
  padding: 0 !important;
}
.ant-collapse-header-text {
  width: 90%;
}

/* ------------- slider -------------------- */

.swiper-initialized {
  height: 100%;
  padding-bottom: 0 !important;
}

/* بولت پیش‌فرض */
.swiper-pagination-bullet {
  background: #d9d9d966 !important;
  opacity: 1 !important;
}

/* بولت فعال */
.swiper-pagination-bullet-active {
  background: white !important;
}

/* ------------- input -------------------- */
.ant-slider-handle::after {
  background: #80ff00 !important;
  border-color: #80ff00 !important;
  box-shadow: 0 0 0 2.5px #80ff00 !important;
}
/* ------------- select option -------------------- */
.ant-collapse-header {
  padding: 0 !important;
}
/* ------------- switch btn -------------------- */
.ant-segmented-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.ant-segmented-item-selected {
  background: #252328 !important;
}
.ant-segmented-thumb {
  background: #252328 !important;
}
/* ------------- Full Date Picker -------------------- */
/* common */
.userDashboardEditDatePicker .rmdp-container,
.walletVerifySectionDatePicker .rmdp-container {
  width: 100% !important;
}
.errorUserDashboardEditDatePicker .rmdp-input,
.errorWalletVerifySectionDatePicker .rmdp-input {
  border: 1px solid #ef4444 !important;
}
.userDashboardEditDatePicker .rmdp-input,
.walletVerifySectionDatePicker .rmdp-input {
  width: 100% !important;
  margin: 0 !important;
  padding-right: 15px;
  font-size: 14px;
}
.userDashboardEditDatePicker .b-deselect,
.walletVerifySectionDatePicker .b-deselect {
  padding-right: 5px;
  margin-left: -5px;
  font-size: 14px !important;
}
.userDashboardEditDatePicker .rmdp-input::placeholder,
.walletVerifySectionDatePicker .rmdp-input::placeholder {
  font-size: 14px;
}

/* userDashboardEdit */
.userDashboardEditDatePicker .rmdp-input {
  height: 50px !important;
  border: 1px solid #6e6e6e57;
  background: transparent;
  border-radius: 14px;
  color: #797979;
}
.userDashboardEditDatePicker .rmdp-input:focus {
  border: none !important;
}
.userDashboardEditDatePicker .rmdp-input::placeholder {
  color: #797979;
}

/* walletVerifySection */
.walletVerifySectionDatePicker .rmdp-input {
  height: 60px !important;
  border: none;
  background: #18151e;

  font-family: iranLight !important;
  border-radius: 20px;
  color: #545160;
}
.walletVerifySectionDatePicker .b-deselect {
  font-family: iranLight !important;
}
.walletVerifySectionDatePicker .rmdp-input::placeholder {
  font-family: iranLight !important;
  color: #545160;
}
